@model IamHungry.Models.Dostava

<h3>Dostava</h3>
<hr />

@if(ViewBag.FAILDOSTAVA != null)
{
    <h4>
        @ViewBag.FAILDOSTAVA
    </h4>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RestId)
     

        <div class="form-group">
            @Html.LabelFor(model => model.KvartId, "Kvart", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KvartId", (SelectList)ViewBag.Kvart, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KvartId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostBroj, "Grad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PostBroj", (SelectList)ViewBag.Grad2, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PostBroj, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vrijeme, "Vrijeme", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vrijeme, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vrijeme, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Povrata", "UrediDostavu")
</div>
