@model IamHungry.Models.Dostava
<br><br><br>
<h4>Dostava</h4>
<hr />

@if(ViewBag.FAILAZDOSTAVA != null)
{
    <h4>
        @ViewBag.FAILAZDOSTAVA
    </h4>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RestId)
        @Html.HiddenFor(model => model.DostavaId)


        <div class="form-group">
            @Html.LabelFor(model => model.PostBroj, "Grad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PostBroj", (SelectList)ViewBag.GradD, htmlAttributes: new { @class = "form-control" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KvartId, "Kvart", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KvartId", (SelectList)ViewBag.KvartD, htmlAttributes: new { @class = "form-control" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vrijeme, "Vrijeme", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vrijeme, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vrijeme, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Izmijeni" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Povratak", "UrediDostavu")
</div>
