@model IEnumerable<IamHungry.Models.Dostava>
<br><br><br>
<h3>
    @Session["UserName"]
</h3>
<br>
<p>
    @Html.ActionLink("Dodaj kvart dostave", "DodajDostavu")
</p>
<br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Grad")
        </th>
        <th>
            @Html.DisplayName("Kvart")
        </th>
        <th>
            @Html.DisplayName("Vrijeme")
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Grad.ImeGrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kvart.ImeKvarta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vrijeme)
        </td>


        <td>
            @Html.ActionLink("Izmijeni", "IzmijeniDostavu", new { idD = item.DostavaId }) |
            @Html.ActionLink("Izbrisi", "IzbrisiDostavu", new { idD = item.DostavaId })
        </td>
    </tr>
}

</table>
