@model IEnumerable<IamHungry.Models.JelaUDnevnomMeniju>

<br><br><br>
<table class="table">
    <tr>
        <th>
           Ime jela
        </th>
        <th>
            Datum
        </th>
        <th>
            Cijena
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <b>@Html.DisplayFor(modelItem => item.ImeJela)</b>   <br>
            @Html.DisplayFor(modelItem => item.OpisJela)
        </td>
        <td>
            <h4><b> @Html.DisplayFor(modelItem => item.dan)</b> </h4>
        </td>
        <td>
            <h4><b> @Html.DisplayFor(modelItem => item.cjena)</b> </h4>
        </td>
        <td>
            @Html.ActionLink("Naruci", "NarudbaDnevniMeni", new { idDJ = item.RestDnevnoJeloId })
           
        </td>
    </tr>

}

</table>
@Html.ActionLink("Povratak", "Index")