@model IEnumerable<IamHungry.Models.Restoran>

<br><br><br>
<div class="jumbotron vertical text-center">
    <h1>
        Mama ja sam gladan!
    </h1>
    
</div>

@if (ViewBag.Nar != null)
{
    <br>
    <h1>@ViewBag.Nar</h1>
    <br>
}

<div class="form-inline" >
    Županija: @Html.DropDownList("ZupId", (SelectList)ViewBag.zupLista, htmlAttributes: new { @class = "form-control" })
    Grad: @Html.DropDownList("PostBroj", (SelectList)ViewBag.gradLista, htmlAttributes: new { @class = "form-control" })
    Kvart: @Html.DropDownList("KvartId", (SelectList)ViewBag.kvartLista, htmlAttributes: new { @class = "form-control" })

    <input type="submit" value="Pretraga" onclick="location.href='@Url.Action("SearchRestorans", "Home")'"  , class="btn btn-default" />

</div>

<br>
<div class="row">
    <h2>Najbolje ocjenjeni restorani</h2>
    <br>
    <table class="table">
        <tr>
            <th>
                Ime restorana
            </th>
            <th>
                Grad
            </th>
            <th>
                Kvart
            </th>
            <th>
                Broj mobitela
            </th>
            <th>
                Ocijena
            </th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImeRest)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Grad.ImeGrada)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Kvart.ImeKvarta)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Mobitel)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Rating.ocjena)
                </td>

                <td>
                    @Html.ActionLink("Meni", "Meni", new { idMenija = item.RestId })|
                    @Html.ActionLink("Dnevni meni", "DnevniMeni", new { idMenija = item.RestId })
                </td>

            </tr>
        }
    </table>
  
</div>
