@model IEnumerable<IamHungry.Models.JelaUMeniju>
<br><br><br>
<h2>
    @ViewBag.ImeTrenRestorana
</h2>

<br>

<table class="table">
    <tr>
        <th>
            Ime Jela
        </th>
        <th>
            Cijena (Kn)
        </th>
        <th>
            Opcije
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>          
        <b>@Html.DisplayFor(modelItem => item.ImeJela)</b>   <br>
           @Html.DisplayFor(modelItem => item.OpisJela)
            
        </td>
        <td>
           <h4> <b>@Html.DisplayFor(modelItem => item.cijena)</b></h4>
        </td>
        <td>
            @Html.ActionLink("Naruči", "NarudbaMeni",  new { idM=item.RestId, idJ=item.ImeJela, cijenaJ=item.cijena })
        </td>
       
    </tr>

}

</table>
<br>
@Html.ActionLink("Povratak", "Index")