@model IamHungry.Models.Restoran
<br><br><br>
<div>
    <h2>@Html.DisplayFor(model => model.ImeRest)</h2>
    <hr />
    <dl class="dl-horizontal">
        <h4><b>
        <dt>
            @Html.DisplayName("Grad")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grad.ImeGrada)
        </dd>
       
        <br>
        <dt>
            @Html.DisplayName("Kvart")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kvart.ImeKvarta)
        </dd>
        
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        
        <br>
        <dt>
            @Html.DisplayName("Kućni broj")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KucniBroj)
        </dd>
        
        <br>
        <dt>
            @Html.DisplayName("E-mail")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        
        <br>
        <dt>
            @Html.DisplayName("Telefon")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>
       
        <br>
        <dt>
            @Html.DisplayName("Mobitel")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobitel)
        </dd>
        
        <br>
        <dt>
            @Html.DisplayName("Ocijena")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating.ocjena)
        </dd>

       

        </br></h4>
    </dl>
</div>
