@model IEnumerable<IamHungry.Models.Restoran>
<br><br><br>
<table class="table">
    <tr>
        <th>
            Ime restorana
        </th>
        <th>
            Grad
        </th>
        <th>
            Kvart
        </th>
        <th>
            Ocijena
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImeRest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grad.ImeGrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kvart.ImeKvarta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating.ocjena)
        </td>
       
        <td>
            @Html.ActionLink("Pogledaj meni", "Meni", new { idMenija = item.RestId } )  |
            @Html.ActionLink("Pogledaj dnevni meni", "DnevniMeni", new { idMenija = item.RestId }) |
            @Html.ActionLink("Informacije", "RestInfo", new { idMenija = item.RestId})
        </td>
    </tr>
}

</table>
