<br><br><br>
@{
    ViewBag.Title = "Uređivanje";
}

<h2>Uređivanje</h2>

<div>
    <hr />
    <br>
    @Html.ActionLink("Uređivanje menija", "UrediMeni", "Jela")<br><br>
    @Html.ActionLink("Uređivanje dnevnog menija", "UrediDnevniMeni", "Jela")<br><br>
    @Html.ActionLink("Uređivanje podataka o restoranu", "UrediRestoran", "Restoran")<br><br>
    @Html.ActionLink("Uređivanje područje dostave", "UrediDostavu", "Restoran")<br><br>
    @Html.ActionLink("Uređivanje radnog vremena", "RadnoVrijeme", "Restoran")<br><br>
</div>

