@model IEnumerable<IamHungry.Models.JelaUDnevnomMeniju>
<br><br><br>
<h3>
    @Session["UserName"]
</h3>
<hr />

@if(ViewBag.SUCCIZMIJENADM != null)
{
    <h4>
        @ViewBag.SUCCIZMIJENADM
    </h4>
}
<p>
    @Html.ActionLink("Skuhaj novo jelo", "NovoDnevniMeniJelo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Jelo")
        </th>
        <th>
            @Html.DisplayName("Cijena")
        </th>
        
        <th>
            @Html.DisplayName("Dan")
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <b> @Html.DisplayFor(modelItem => item.ImeJela)</b><br>
            @Html.DisplayFor(modelItem => item.OpisJela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cjena)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dan)
        </td>
        
        <td>
            @Html.ActionLink("Izmijeni", "IzmijeniDnevniMeni", new { idRDM = item.RestDnevnoJeloId }) |
            @Html.ActionLink("Izbrisi", "IzbrisiDnevniMeni", new { idRDM = item.RestDnevnoJeloId })
        </td>
    </tr>
}

</table>
<hr>
<br>
@Html.ActionLink("Povratak", "Uredivanje", "Home")