@model IEnumerable<IamHungry.Models.JelaUMeniju>


<br><br><br>
<h2>
    @Session["UserName"]
</h2>
<hr />
<p>
    @Html.ActionLink("Skuhaj novo jelo", "NovoMeniJelo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Jelo")
        </th>
        <th>
            @Html.DisplayName("Cijena")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <b>@Html.DisplayFor(modelItem => item.ImeJela)</b><br>
            @Html.DisplayFor(modelItem => item.OpisJela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cijena)
        </td>

        <td>
            @Html.ActionLink("Izmijeni", "IzmijeniMeni", new {  idM=item.RestId, idJ = item.JeloId  }) |
            @Html.ActionLink("Izbrisi", "IzbrisiMeni", new { idM = item.RestId, idJ = item.JeloId  })
        </td>
    </tr>
}

</table>
<hr>
@Html.ActionLink("Povratak", "Uredivanje", "Home") 